<div class="backgroundImage"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav col-12 justify-content-start">
        <a class="nav-link" [routerLink]="['']">Accueil</a>
      </div>
    </div>
  </div>
</nav>
<div class="logCard d-flex justify-content-center">
  <form class="logForm col-4">
    <div class="logLogo d-flex justify-content-center">
      <img
        src="../../assets/image/logImage.png"
        class="logCardTop col-11 m-3 mt-4"
        alt="image"
      />
    </div>
    <div class="mb-3 col-11 m-3">
      <label for="exampleInputEmail1" class="form-label text-white"></label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Adresse Email"
      />
      <div id="emailHelp" class="form-text text-white">
        Nous ne partagerons jamais votre adresse Email.
      </div>
    </div>
    <div class="mb-3 col-11 m-3">
      <label for="exampleInputPassword1" class="form-label text-white"></label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Mot de passe"
      />
    </div>
    <div class="logCardFooter mb-4">
      <button
        type="submit"
        class="btn btn-warning col-11 m-3 text-white fw-bold"
      >
        Se connecter
      </button>
      <a class="col-11 m-3 text-white" [routerLink]="['/signup']"
        >Nouvel Utilisateur ?</a
      >
    </div>
  </form>
</div>
