<div class="backgroundImage imgage-fluid"></div>
<header>
  <nav class="navbar navbar-expand-md navbar-light bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['']">
        <img
          class="img-fluid"
          src="assets/image/logo.png"
          title="Groupomania"
          alt="Groupomania"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbars"
        aria-controls="navbars"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse col-4" id="navbars">
      <ul class="navbar-nav me-auto mb-2 mb-md-0 col-12">
        <li class="nav-item mt-2 col-6 text-center">
          <a
            class="text-decoration-none fw-bold text-dark"
            [routerLink]="['/login']"
            >Se Connecter</a
          >
        </li>
        <li class="nav-item mt-2 col-6 text-center">
          <a
            class="text-decoration-none fw-bold text-dark"
            [routerLink]="['/signup']"
            >S'enregistrer</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
<main class="col-12 d-flex justify-content-center">
  <figure class="citation justify-content-center col-4">
    <blockquote
      class="blockquote text-white fw-bold fs-4 fst-italic text-center"
    >
      <p>Là où l'humour est partagé, l'amitié n'est pas loin.</p>
    </blockquote>
    <figcaption class="blockquote-footer text-white text-center">
      Grégoire Lacroix
      <cite title="Source Title"> Euphorismes de Grégoire</cite>
    </figcaption>
  </figure>
</main>
<footer class="bg-warning text-center text-white">
  <div class="topFooter container">
    <section>
      <div class="row d-flex align-items-center mt-2">
        <div class="col-12 col-md-3 col-sm-6">
          <ul class="list-unstyled mt-0">
            <li>
              <a
                class="text-dark fw-bold text-decoration-none"
                [routerLink]="['/politique']"
                >Politique de confidentialité</a
              >
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3 col-sm-6">
          <ul class="list-unstyled">
            <li>
              <a
                class="text-dark fw-bold text-decoration-none"
                [routerLink]="['/cgu']"
                >Termes et conditions</a
              >
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3 col-sm-6">
          <ul class="list-unstyled">
            <li>
              <a
                class="text-dark fw-bold text-decoration-none"
                [routerLink]="['/about']"
                >A propos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3 col-sm-6">
          <ul class="list-unstyled">
            <li>
              <a
                href="mailto:groupomania@oursite.com"
                class="text-dark fw-bold text-decoration-none"
                >Nous contacter</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div
    class="botFooter text-center p-3 text-dark fw-bold"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    <div class="allRights">
      <p>@ 2021 All Rights Reserved Groupomania</p>
    </div>
  </div>
</footer>
