<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['']">Accueil</a>
          <a class="nav-link active" aria-current="page" href="#">Forum</a>
          <a class="nav-link" [routerLink]="['/profile']">Profile</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container col-8">
    <div class="card mb-3">
      <div class="ratio ratio-16x9">
        <img src="assets/image/tenor.gif" class="card-img-top" alt="image" />
      </div>

      <div class="card-body">
        <h5 class="card-title">Mon Poste</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio, eaque rerum! Provident similique
          accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut
          molestias architecto voluptate aliquam nihil, eveniet aliquid culpa
          officia aut! Impedit sit sunt quaerat, odit, tenetur error, harum
          nesciunt ipsum debitis quas aliquid. Reprehenderit, quia. Quo neque
          error repudiandae fuga? Ipsa laudantium molestias eos sapiente
          officiis modi at sunt excepturi expedita sint? Sed quibusdam
          recusandae alias error harum maxime adipisci amet laborum.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-between">
          <p class="card-text m-0">
            <small class="text-muted">Poste crée le .. / .. / ..</small>
          </p>
          <button type="button" class="btn btn-secondary btn-sm">J'aime</button>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="bg-secondary text-center text-white fixed-bottom">
  <div class="container p-4">
    <section class="">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none"
                >Politique de confidentialité</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none"
                >Termes et conditions</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none">A propos</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none"
                >Nous contacter</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="allRights">
      <p>@ 2021 All Rights Reserved Groupomania</p>
    </div>
  </div>
</footer>
